#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
}

.tile {
  background-color: red;
  border: 1px solid black;
  width: 80px;
  height: 80px;
  display: flex;
}
